# Core dependencies
requests
numpy<2
gradio
einops
mega-x
gdown
wget
tqdm

# Audio processing
ffmpeg-python>=0.2.0
PolUVR[gpu]
praat-parselmouth
matplotlib==3.7.2
#torchcrepe
#torchfcpe
edge-tts

# Machine learning and deep learning
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
torch==2.6
torchaudio==2.6
torchvision==0.21
faiss-cpu==1.7.3
local-attention
tensorboardX

# Fairseq
fairseq; python_version < '3.11'
https://github.com/Bebra777228/TrainVocModel-EN/releases/download/fixed-packages/fairseq-0.12.3-cp311-cp311-linux_x86_64.whl; sys_platform == 'linux' and python_version == '3.11'
https://github.com/Bebra777228/TrainVocModel-EN/releases/download/fixed-packages/fairseq-0.12.3-cp311-cp311-win_amd64.whl; sys_platform == 'win32' and python_version == '3.11'
